foreground            #efe1ca
background            #130d03
selection_foreground  #3a3005
selection_background  #d7c68d

url_color             #d7c68d

cursor            #fabd00
cursor_text_color #3f2e00

active_boder_color #e3cb9c
inactive_border_color #221f1c

active_tab_foreground #3f2e00
active_tab_background #130d03
inactive_tab_foreground #efe1ca
inactive_tab_background #130d03
tab_bar_background #3f2e00


#: black 000000 767676
color0  #191306
color8  #3c3424
#: red cc0403 f2201f
color1  #000000
color9  #55130b
#: green 19cb00 23fd00
color2  #d7c68d
color10 #f4e2a7
#: yellow cecb00 fffd00
color3  #d0c97d
color11 #ede596
#: blue 0d73cc 1a8fff
color4  #5b4300
color12 #fabd00
#: magenta cb1ed1 fd28ff
color5  #51461a
color13 #d7c68d
#: cyan 0dcdcd 14ffff
color6  #4d4808
color14 #d0c97d
#: white dddddd ffffff
color7  #d2c5af
color15 #efe1ca
