foreground            #dbe3ed
background            #070f16
selection_foreground  #20314c
selection_background  #b6c7ea

url_color             #b6c7ea

cursor            #91cdff
cursor_text_color #003350

active_boder_color #bddaf6
inactive_border_color #302931

active_tab_foreground #003350
active_tab_background #070f16
inactive_tab_foreground #dbe3ed
inactive_tab_background #070f16
tab_bar_background #003350


#: black 000000 767676
color0  #0c141b
color8  #2e363d
#: red cc0403 f2201f
color1  #6782bc
color9  #d1d9eb
#: green 19cb00 23fd00
color2  #b6c7ea
color10 #d6e3ff
#: yellow cecb00 fffd00
color3  #bdc3fa
color11 #dfe0ff
#: blue 0d73cc 1a8fff
color4  #004b72
color12 #91cdff
#: magenta cb1ed1 fd28ff
color5  #374764
color13 #b6c7ea
#: cyan 0dcdcd 14ffff
color6  #3d4372
color14 #bdc3fa
#: white dddddd ffffff
color7  #bfc7d1
color15 #dbe3ed
