foreground            #dce3ee
background            #080f16
selection_foreground  #22304c
selection_background  #b8c6ea

url_color             #b8c6ea

cursor            #95ccff
cursor_text_color #003352

active_boder_color #6aaae2
inactive_border_color #4d4c52

active_tab_foreground #003352
active_tab_background #080f16
inactive_tab_foreground #dce3ee
inactive_tab_background #080f16
tab_bar_background #003352


#: black 000000 767676
color0  #0d141b
color8  #2e353e
#: red cc0403 f2201f
color1  #246eb2
color9  #88bae7
#: green 19cb00 23fd00
color2  #b8c6ea
color10 #d8e2ff
#: yellow cecb00 fffd00
color3  #bfc2fa
color11 #e0e0ff
#: blue 0d73cc 1a8fff
color4  #004a75
color12 #95ccff
#: magenta cb1ed1 fd28ff
color5  #384764
color13 #b8c6ea
#: cyan 0dcdcd 14ffff
color6  #3f4372
color14 #bfc2fa
#: white dddddd ffffff
color7  #c0c7d1
color15 #dce3ee
